services:
  postgres:
    image: postgres:16
    container_name: postgres-pipa-track
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: pipatrack
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge
